body{
    background-color: #1f2937;
}

.header{
    background-color: #1f2937;
}

.header a {
    text-align: center;
    padding: 20px;
    color: yellow;
    text-decoration: none;
}

.about {
    color: white;
    font-weight: lighter;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about .flex-container{
    display: flex;
}

.about .flex-container img{
    padding: 20px;
}

.characters h1{
    text-align: center;
    font-family: Georgia;
    font-weight: 100;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
  
li {
    margin: 1rem;
}
  
img {
    max-width: 100%;
}

.container.space-around {  
    justify-content: space-around;
    display: flex;
}

.container.space-between .mike{
    
}