body{
    background-color: #1f2937;
}

.header{
    background-color: #1f2937;
}

.header a {
    text-align: center;
    padding: 20px;
    color: yellow;
    text-decoration: none;
}

.about {
    color: white;
}

.about .flex-container{
    display: flex;
}

.about .flex-container img{
    padding: 20px;
}